h1 {
  font-size: 80px;
  text-align: center;
  margin: 80 0 80 0;
}

.iphone-wrapper {
  width: 400px;
  border: 1px solid black;
  height: 650px;
  background: #4B4F54;
  color: #D1D6D6;
}

.top-row-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.button-row-round {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15 55 0 55;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 100px;

}
