
@import '../main';

.title-carousel{
  display: flex;
  width: 250px;background-color: $border-title;
  justify-content: space-around;
  color: $button-p;
}

.arrow{
  cursor: pointer;
  padding: 0 40;
}
